{% extends 'TuttoFrontendBundle::layout.email.html.twig' %}

{% block header %}{{ "security:reset_password.email.header"|trans }}{% endblock header %}
{% block content %}
    <p>
        {% trans with {
            '%email%': '<b>'~user.getEmail()~'</b>',
            '%new_password%': '<b>'~new_password~'</b>',
            '%link%': '<a href="'~url('_login')~'">'~url('_login')~'</a>'
        }
        %}
        security:reset_password.email.content
        {% endtrans %}
    </p>
{% endblock content %}