{% use 'TuttoDataGridBundle::datagrid.html.twig' %}

<div class="datagrid-search-form">
    {{ block('grid_search_form') }}
</div>
<div class="datagrid-content">
    {{ block('grid_content') }}
</div>